<div class="container">

    <h1>Greek VAT data</h1>

    <ul>
    <li><a href="/version">Greek VAT service version</a></li>
    <li><a href="/details?username=YOUR_USERNAME&password=YOUR_PASSWORD&vatBy=REQUESTER_VAT&vatFor=QUERY_VAT">Greek VAT details [GET parameters (username, password, vatBy, vatFor) are required]</a></li>
    </ul>
</div>
